.user-name {
    text-align: center;
    font-size: 40px;  
    margin-top: 0;  
   
}
@media (max-width: 768px) {
    .user-name {
        font-size: 32px; 
        margin-top: 30px;
    }
}
@media (max-width: 480px) {
    .user-name {
        font-size: 28px; 
        }
}

.home-page-heading {    
    margin-left: 70px;
    font-size: 30px;
}
@media (max-width: 768px) {
    .home-page-heading {
        margin-left: 50px; 
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .home-page-heading {
        margin-left: 25px; 
        font-size: 19px;
    }
}

::-webkit-scrollbar {
    display: none;
}
.Link-section-heading {
    font-size: 35px;
    margin-left: 35%;
    margin-top: -53px;
    color: #fb047f;
}

@media (max-width: 768px) {
    .Link-section-heading {
        font-size: 28px; 
        margin-left: 30%; 
        margin-top: 40px; 
    }
}

@media (max-width: 480px) {
    .Link-section-heading {
        font-size: 24px; 
        margin-left: 25%; 
        margin-top: 30px; 
    }
}

.link-form {    
    max-height: 400px;
    width: 450px;  
    margin-top: 20px;
    background-color: #ff4da6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.form-content {
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 80%;
    border: none;
    font-size: 20px;
}

.form-btn {
    padding: 5px 20px;
    border-radius: 50px;    
    margin-left: 5%;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border: none;
    font-size: 20px;  
    background-color: #ffad33;
    flex-wrap: wrap;
    cursor: pointer;
}

@media (max-width: 768px) {
    .link-form {
        width: 450px;
        padding: 15px; 
        margin-top: -2px;
    }

    .form-content {
        font-size: 18px; 
        padding: 15px; 
    }

    .form-btn {
        width: 150px; 
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    .link-form {
        width: 280px; 
        padding: 10px;
    }

    .form-content {
        font-size: 16px; 
        padding: 10px; 
    }

    .form-btn {
        width: 100px; 
        font-size: 16px;
        height: 40px;
    }
}

.Links-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.AllLinkContainer {
    overflow-y: scroll;  
    max-height: 400px;
}

.home-logout {
    position: fixed;    
    margin: 0;   
    color: #f8067f;  
    padding: 20px;
    top: 1%;
    right: 2%;
    cursor: pointer;
    font-size: 35px;
    font-weight: 500px;
    margin-top: -10px;
}

@media (max-width: 768px) {
    .AllLinkContainer {
        max-height: 300px; 
    }

    .home-logout {
        font-size: 25px; 
        padding: 15px;
        top: 4px;
        right: 1px;
        font-weight: 300px;
    }
}
@media (max-width: 480px) {
    .AllLinkContainer {
        max-height: 250px;
    }

    .home-logout {
        font-size: 25px;
        padding: 10px;
        top: 1%;
        right: 1%; 
    }
}
