/* Default Styles */
.form-heading {
    text-align: center;
    font-size: 35px;
    color: #f61f8b;
}

.Signup-form {
    width: 450px;
    height: auto;
    border: 2px solid #f61f8b;
    padding: 20px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-color: #ff4da6;
}

.Signup-input {
    display: block;
    width: 90%;
    margin: 20px auto;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #f61f8b;
    font-size: 20px;
}

.user-input:focus, .user-input:active {
    outline: none;
    border: 1px solid #f61f8b;
}

.Signup-btn {
    background-color: #ffad33;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35%;
    width: 150px;
    font-size: 22px;
}

.reference-links {
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}


@media screen and (max-width: 768px) {
    .Signup-form {
        width: 350px;
    }

    .Signup-btn {
        margin-left: 30%;
        margin-top: -15px;
    }
}

@media screen and (max-width: 480px) {
    .form-heading {
        font-size: 30px;
    }

    .Signup-form {
        width: 300px;
        padding: 15px;
    }

    .Signup-input {
        font-size: 18px;
    }

    .Signup-btn {
        margin-left: 25%;
        width: 140px;
        font-size: 20px;
    }

    .reference-links {
        font-size: 22px;
    }
}

@media screen and (max-width: 360px) {
    .form-heading {
        font-size: 28px;
    }

    .Signup-form {
        width: 280px;
        padding: 10px;
    }

    .Signup-input {
        font-size: 16px;
    }

    .Signup-btn {
        margin-left: 20%;
        width: 130px;
        font-size: 18px;
    }

    .reference-links {
        font-size: 20px;
    }
}
